*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ranade';
}
body{
    background-color: #e7e7e7;
}
.game{
    border: solid 2px white;
    border-radius: 10px;
    background-color: rgb(15, 1, 60);
    color:white;
    padding: 20px;
    margin: 30px;
    text-align: center;
    box-shadow:0 0 10px black ;
}
.control{
    margin-top:40px ;
}
#buttonarea{
    border: none;
    border-radius:6px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    background-color:#04AA6D ;
    color: aliceblue;
}
#buttonarea:hover{
    background-color:#037c4f ;
}
#lose{
    display: none;
    color:rgb(230,20,10);
}
#win{
    display: none;
    color:rgb(10,150,4);
}
#restart{
    display: none;
    cursor: pointer;
    font-weight: bold;
    padding: 8px;
    border-radius: 6px;
    background-color: rgb(251, 107, 5);
    color: white;
}
#restart:hover{
    background-color: rgb(218, 95, 8);
}
#userguess{
    padding: 5px;
    border-radius: 5px;
}
#report{
    border-radius: 5px;
    background-color: #FFF4A3;
    margin: 40px 30px 5px 30px;
}